<h1 id="site-title"><a href="/">{{ site.title }}</a></h1>
<h5>{{ site.subtitle }}</h5>

<ul class="nav nav-list sidebar-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/swiid">The SWIID</a></li>
  <li><a href="/res/res">Research on Inequality</a></li>
  <li><a href="/res/add_res">Additional Research</a></li>
  <li><a href="/teach">Teaching</a></li>
  <li><a href="/sw">Published Software</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/cv">CV</a></li>
</ul>

<ul class="list-inline">
  <li>
    <a href="mailto:{{site.email}}">
      <i class="fa fa-fw fa-envelope-o"></i>
    </a>
  </li>
  <li> 
    <a href="https://twitter.com/{{site.twitter_username}}">
      <i class="fa fa-lg fa-twitter"></i>
    </a>
  </li>
  <li> 
    <a href="https://github.com/{{site.github_username}}">
      <i class="fa fa-lg fa-github"></i>
    </a>
  </li>
    <li> 
    <a href="https://scholar.google.com/citations?user={{site.gscholar_code}}">
      <i class="ai fa-lg ai-google-scholar"></i>
    </a>
  </li>
</ul>

<hr class="hidden-md hidden-lg">
