<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <section class="header">
      <h2 class="title">Frederick Solt</h2>
      </div>
    </section>


  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="three columns sidebar">
          <hr>
                <li class = "menu"><a href="/">Home</a></li>
                <li class = "menu"><a href="/swiid">The SWIID</a></li>
                <li class = "menu"><a href="/res/res">Research on Inequality</a></li>
                <li class = "menu"><a href="/res/add_res">Other Research</a></li>
                <li class = "menu"><a href="/teach">Teaching</a></li>
                <li class = "menu"><a href="/teach">Blog</a></li>
                <li class = "menu"><a href="/cv">CV</a></li>
              <hr>
              <a href="mailto:frederick-solt@uiowa.edu">Email</a>
              |
                <a href="https://twitter.com/fredericksolt" style="font-size: 1.5rem">Twitter</a>
               | <a href="https://github.com/fsolt" style="font-size: 1.5rem">GitHub</a> </br></br>
                </div>
              <div class="eight columns">
                <div class="two columns">
                </div>
                <div class="ten columns">
                {{ content }}
                </div>
              </div>
            </div>
          </div>
        </div>

        </body
        </html>
	<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
	var sc_project=1915099; 
	var sc_invisible=1; 
	var sc_security="da58688a"; 
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="shopify
	analytics ecommerce tracking"
	href="http://statcounter.com/shopify/" target="_blank"><img
	class="statcounter"
	src="http://c.statcounter.com/1915099/0/da58688a/1/"
	alt="shopify analytics ecommerce
	tracking"></a></div></noscript>
	<!-- End of StatCounter Code for Default Guide -->

        <!-- End Document
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      </body>
      </html>